@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  height: 100%;
}
body { 
  background-color: #F3F4F6; 
  overflow-y: hidden;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  user-select: none;
  pointer-events: none;
  transition: background 1s ease;
  background: rgba(0, 0, 0, 0.9);
}

.js-button-visible {
  z-index: 10000;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}